@import url('https://fonts.googleapis.com/css?family=Cabin');

body {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}

h1 {
	text-transform: uppercase;
	font-family: "Cabin", sans-serif;
	text-align: center;
	font-size: 300%;
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 72px;
    text-align: center;
}

body {
	margin: 0;
	background: #fff;
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
}

p {
	font-family: "Cabin", sans-serif;
	margin: 0;
}

.container {
	width: 80%;
	margin: 0 auto;
}

nav {
  float: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.home {
	margin-left: 0;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-bottom: 5px;
  position: relative;
}


nav a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

nav a:before {
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #000;
  position: absolute;
  width: 0%;
  transition: width 0s ease, background .5s ease;
}

nav a:after {
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #000;
  position: absolute;
  width: 0%;
  transition: width .5s ease;
}

nav a:hover:before {
  width: 100%;
  background-color: #000;
  transition: width .25s ease;
}

nav a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

.mainpic {
	display: block;
	margin: auto;
	width: 30%;
}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

th, td {
    padding: 15px;
}
