@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    font-family: 'Cabin', sans-serif;
    color: #000;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}
h1 {
	text-transform: uppercase;
	font-family: "Cabin", sans-serif;
	text-align: center;
	font-size: 300%;
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 72px;
    text-align: center;
}
h4 {
    margin:  1% 0 1% 0;
    font-family: "Cabin", sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 24px
}

p {
	font-family: "Cabin", sans-serif;
	margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}
html{
  font-family: 'Cabin', sans-serif;
  background-color:#fff;
  color:#000;
  font-size:1em;
}
.aboutme {
  display: flex;
  align-items: center;
  justify-content: center;
  height:25px;
}

#app{
  letter-spacing:0.25em;
  text-transform:uppercase;
}
.container {
	width: 80%;
	margin: 0 auto;
}
ul {
    padding:0;
    list-style: none;
}
nav {
  float: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.about {
	margin-left: 0;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-bottom: 5px;
  position: relative;
}


nav a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

nav a:before {
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #000;
  position: absolute;
  width: 0%;
  transition: width 0s ease, background .5s ease;
}

nav a:after {
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #000;
  position: absolute;
  width: 0%;
  transition: width .5s ease;
}

nav a:hover:before {
  width: 100%;
  background-color: #000;
  transition: width .25s ease;
}

nav a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

.mainpic {
	display: block;
	margin: auto;
	width: 30%;
}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

th, td {
    padding: 15px;
}


.foot {
    font-size: 1.4em;
    text-align: center;
    font-weight: 400;
}
.footer-social-icons {
    width: 200px;
    display:block;
    float: center;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
    float: center;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #000;
    text-decoration: none;
}
.fa-envelope {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #fff;
}
.fa-envelope:hover {
    background-color: #fbad50;
    color: #fff;
    border-radius: 10px;
}
.fa-instagram {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #fff;
}
.fa-instagram:hover {
    background-color: #bc2a8d;
    color: #fff;
    border-radius: 10px;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #fff;
}
.fa-linkedin:hover {
    background-color: #0073a4;
    color: #fff;
    border-radius: 10px;
}
.fa-google-plus {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #fff;
}
.fa-google-plus:hover {
    background-color: #e25714;
    color: #fff;
    border-radius: 10px;
}
